<input type="hidden" name="id" value="<%= _id %>"/>
<div class="control-group">
    <label class="control-label" for="inputName">部门名称</label>
    <div class="controls">
        <input type="text" id="inputName" name="name" placeholder="部门名称" value="<%= name %>" class="required">
        <span class="help-inline"></span>
    </div>
</div>
