<input type="hidden" name="id" value="<%= _id %>"/>
<div class="control-group">
    <label class="control-label" for="inputName">快递公司名称</label>
    <div class="controls">
        <input type="text" id="inputName" name="name" placeholder="快递公司名称" value="<%= name %>" class="required">
        <span class="help-inline"></span>
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="inputCode">快递公司编号</label>
    <div class="controls">
        <input type="text" id="inputCode" name="code" placeholder="快递公司编号" value="<%= code %>" class="required">
        <span class="help-inline"></span>
    </div>
</div>