<% include ../../layouts/head %>

<% include ../../layouts/topbar %>

    <div class="container">
        <form>
        <button type="button" id="add" class="btn btn-primary">添加</button>
        </form>
        <div id="list" data-list-url="/admin/delivery-company/list" data-dialog-url="/admin/delivery-company/view"
            data-remove-url="/admin/delivery-company/remove" data-save-url="/admin/delivery-company/save">
        </div>
        <form id="edit-dialog" class="form-horizontal" style="display: none;">
        </form>
    </div>
    
    <script type="text/javascript" src="/js/pagify.js"></script>
    <script type="text/javascript">
      $(function(){
          $(document.body).pagify({
              start_page: 1
              , page_size: 20
          });
      });
    </script>

<% include ../../layouts/foot %>
