<% include ../layouts/head %>

<% include ../layouts/topbar %>

    <div class="container">
		<p class="lead">保存快递申请成功。<a href="/" class="btn">返回首页</a></p>
    </div>

<% include ../layouts/foot %>
